@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent;
  }

  .gradient-bg {
    @apply bg-gradient-to-r from-primary to-secondary;
  }
}
